{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- Check if We have a valid Movie -->
        {% if movie | length > 0 %}
            <h2 class="title"> {{movie[0].movie_title}} ({{movie[0].release_year}})</h2>
            <hr/>
            <h3> Artworks </h3>
            {% for instance in movie %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image">
                    <br/>© Amazon Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Descriptions </h3>
            {% for instance in movie %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <!-- TODO - Query (10)
            You will have to modify the approach below slightly to make each genre clickable
            -->
            <h3> Genres </h3>
            {% for instance in movie %}
                {% if instance.md_type_name == 'film genre' %}
                        <a class="clickable-tr" data-href="{{url_for('single_genre', genre_id=instance.md_id)}}">{{instance.md_value}}</a>
                        <br/>
                {% endif %}
            {% endfor %}

            <h2>Player</h2>
            <video id="player" controls src="{{movie[0].storage_location}}"></video>

            {% if consumption.progress > 0 %}
                <button class="flat" id="resumption-button" data-progress="{{consumption.progress}}">Resume from previous viewing</button>
            {% endif %}
        {% else %}
            <h2 class="title"> Invalid Movie ID</h2>
        {% endif %}

    </div>
</div>

<style>
    #player {
        display: block;
        width: 50%;
        margin: 0 auto;
    }
</style>

{% include 'bottom.html'%}
