{% include 'top.html' %}
<div class="content">
    <div class="container details">

        <h2 class="title"> Add Song </h2>

        <!-- Song Schema
            CREATE TABLE Song (
                song_id INTEGER PRIMARY KEY REFERENCES AudioMedia(media_id),
                song_title VARCHAR(100),
                length INTEGER
            );
            Associated Media_id information
                - storage location
            Associated Artist information
                - artist_id
            Associated Meta data
                - description (4)
                - song_genre (1)
                - artwork (3)
        -->
        <!-- Query (8)
            TODO
            Add Song
            You will need to create a form for taking in input. Remember the input has to be valid,
            so you will have to check the data somewhere. The best way is to pass any relevant information that is
            needed to this page (such as artists, metadata type id's or values) and then manage the display similar to what is
            done in the drop down menu for the search bar
        -->

        <form method="POST" action="{{url_for('add_song')}}" class="Add">
            Song title: <input required type="text" name="song_title" placeholder="Song"><br />
            Length: <input required type="number" name="length" placeholder="Length" min="0"><br/>
            <br/>
            Storage location: <input required type="text" name="storage_location" placeholder="Storage location"><br/>
            <br/>
            Artist:
            <select required name="artist_id">
                {% for artist in artists %}
                    <option value="{{artist.artist_id}}">{{artist.artist_name}}</option>
                {% endfor %}
            </select><br />
            <br/>
            Description: <input required type="text" name="description" placeholder="Description"><br />
            <!-- Artwork URL: <input type="text" name="artwork" placeholder="Artwork URL"><br /> -->
            <br/>

            Genre:
            <select required name="song_genre">
                {% for genre in genres %}
                    <option value="{{genre.md_id}}">{{genre.md_value}}</option>
                {% endfor %}
            </select><br /><br />

            <br />
            <button class="flat" type="submit">Add</button>
            <br/>
            <hr/>
            <hr/>
            <hr/>
        </form>

        <br/>
        <div>

    </div>
</div>
{% include 'bottom.html'%}
